@include mediaMd {
  .tech-icons__container,
  .projects__list__container,
  .about__container,
  .contact__list__container {
    margin-top: 0px;
  }
  .portfolio__grid__container {
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto 1fr 1fr auto auto;
    transform: rotate(-15deg);
  }
  .about__container {
    grid-column: 4 / 5;
    grid-row: 2 / span 1;
  }
  .contact__list__container {
    grid-column: 4 / 5;
    grid-row: 3 / span 1;
    justify-items: start;

    .contact__list {
      flex-direction: row;
      justify-content: start;
      .contact__list__item {
        padding: 0 1vw;
      }
      .contact__list__item:nth-child(1) {
        padding-left: 0;
      }
    }
  }
  .portfolio--header--red {
    grid-column: 2;
    grid-row: 2 / 5;
    writing-mode: vertical-rl;
    align-self: flex-start;
    line-height: 0.7;
  }
  .projects__list__container {
    grid-column: 1 / 2;
    grid-row: 4 / span 2;
  }
  .tech-icons__container {
    grid-row: 4 / span 1;
    grid-column: 4 / 5;
  }
}
