.portfolio__flex__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.portfolio__grid__container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: 600px;
  grid-gap: 10px;
}
