.contact__list__container {
  grid-column: 1 / 1;
  grid-row: 6;
  display: grid;
  justify-items: start;

  .contact__list {
    display: flex;
    height: 100%;
    width: 100%;
    border-top: 5px solid $primary--text--color;
    .contact__list__item {
      align-self: start;
      padding-right: 10px;

      i {
        font-size: 1.8em;
      }
    }
    .contact__list__item:nth-child(3) {
      i {
        font-size: 2em;
      }
    }
  }
}
