.projects__list__container {
  grid-row: 4 / span 1;
  grid-column: 2;
  // change to mobile
  p {
    border-bottom: 5px solid $primary--text--color;
  }
  .projects__list {
    .projects__list__item {
      // border-bottom: 5px solid $primary--text--color;
    }
  }
}
