.tech-icons__container {
  grid-row: 4 / span 1;
  grid-column: 1;
  align-self: flex-start;
  p {
    border-bottom: 5px solid $primary--text--color;
  }
  .tech-icons__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    .tech-icons__list__item {
      padding-right: 10px;
      position: relative;
      img,
      i {
        height: 20px;
        font-size: 20px;
      }
      img:not(.color) {
        filter: invert(100%);
      }
    }
  }
}
