* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary--background--color;
  text-transform: uppercase;
  font-family: "Avenir", helvetica, san-serif;
  font-weight: bolder;
  color: $primary--text--color;
}
h1,
h2 {
  font-size: 2em;
}
.subheading {
  font-weight: bolder;
}
p,
a {
  font-weight: 100;
}

main {
  background: $primary--background--color;
  padding: 20px;
}
a {
  text-decoration: none;
  color: $primary--text--color;
  &:hover {
    color: $secondary--text--color;
  }
}

.projects__list,
.contact__list {
  list-style: none;
}

.tech-icons__container,
.projects__list__container,
.about__container,
.contact__list__container {
  margin-top: 30px;
}
.tech-icons__list,
.projects__list,
.contact__list {
  padding-top: 10px;
}
