// Color Palette
$primary--text--color: #3b3b37;
$secondary--text--color: #f64441;
$primary--background--color: #f6f3ea;
$secondary--background--color: #fff;

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
// ============

// Font Palette
$heading-font: Arial, Helvetica, sans-serif;
$sub-heading-font: Helvetica;
$body-font: Times;
// ============

// Layout Palette
// $layout-grid-container: grid;
// $layout-flex-container: flex;
// ============

// Transition
@mixin easeOut {
  transition: all 170ms ease-out;
}
// ============

// Media Queries
// @mixin mediaSm {
//   @media screen and (max-width: 739px) {
//     @content;
//   }
// }

@mixin mediaMd {
  @media screen and (min-width: 740px) {
    // @media (min-width: 740px) {
    @content;
  }
}

// @mixin mediaLg {
//   @media screen and (min-width: 769px) and (max-width: 1170px) {
//     @content;
//   }
// }

// @mixin mediaXl {
//   @media screen and (min-width: 1171px) {
//     @content;
//   }
// }

/********* Media Query Usage **********/
/* bring in mixin with @include -> content inside that @include maps to the config file @content

@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

*/
// ============
